<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>zswitch</string>
	<key>CFBundleIdentifier</key>
	<string>com.reecedove.zswitch</string>
	<key>CFBundleName</key>
	<string>zswitch</string>
	<key>CFBundleDisplayName</key>
	<string>zswitch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.reecedove.zswitch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zswitch</string>
			</array>
		</dict>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>zswitch quits and relaunches ZCode to complete an account switch.</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
</dict>
</plist>
